* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 95, 162);
}
.nav1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0c0c0c;
    align-items: center;
    padding: 1rem 0rem;
    right: 0;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 50px;
    padding-left: 10px;
}

.links1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.links1 li {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    cursor: pointer;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.links1 li a:hover {
    color: grey;
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    transition: 0.5s step-end;
}

.login a:hover {
    border-bottom: 1px solid rgb(226, 214, 145);
    
}


.burger {
    display: none;
    cursor: pointer;
}

.line {
    display: block;
    width: 25px;
    background-color: white;
    height: 3px;
    margin: 5px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-ou;
}

.cname{
    display: none;
}


.home1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 7rem;
    color:white;
    font-family: 'Bakbak One';
    max-width: 80%;
    
}

.fhalf{
    width: 70%;
    text-align: justify;
    margin-top: 45px;
}

.shalf{
    width: 70%;
}

.shalf img{
    border:4px solid #0c0c0c;
    border-radius: 10px;
    margin-left: 135px;
}

.sec2{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.sub2sec img{
    margin-right: 110px;
    height: 35vh;
}


    @media screen and (max-width:1024px) {
    
        .burger {
            display: block;
        }
    
        .burger.active .line:nth-child(2) {
            opacity: 0;
        }
    
        .burger.active .line:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .burger.active .line:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .links1 {
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background-color: #0c0c0c;
            width: 100%;
            text-align: center;
            transition: 0.3s;
        }
    
        .nav-item{
            margin: 16px 0;
            padding: 10px ;
            
        }
    
        .links1.active{
            left: 0;
        }
    
        .nav-item:nth-child(5){
            margin: -25px 0px 0px 0px;
            
        }
    
        .cname{
            display: block;
            text-align: center;
            color: white;
            text-decoration: none;
            font-size: 30px;
            font-style:oblique;
            font-family: 'Bakbak One';
        }

        .cards{
            display: flex;
            flex-direction: column;
            align-items: center;
        }   

        .about1info1 {
            border: 2px solid #0c0c0c;
            height: 185px;
            padding: 500px 25px 0 20px;
            width: 70%;
            text-align: justify;
            margin-top: 45px;
            margin-left: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
            color: white;
        }

        .sub2sec img {
            /* margin-right: 130px; */
            height: 35vh;
            margin: 0px 30px 0px 0px;
        }
    }

    .cards{
        display: flex;
        margin-left: 80px
    }
    .card11{
        margin: 50px;
        padding: 20px;
        border: 2px double #0c0c0c;
        border-radius: 10px  ;
    }

    .card11 img{
        width: 105%;
    }
    #awards{
        text-align: center;
        margin: 25px;
        color: white;
    }

    footer{
        background-color: #0c0c0c;
        height: auto;
        width: 100%;
        font-family: "Open Sans";
        padding-top: 40px;
        color: white;
    }

    .footer-content{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400; 
        text-transform: capitalize;
        line-height: 3rem;

    }

    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;

    }

    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }

    .socials li{
        margin: 0 10px;
    }

    .socials a{
        text-decoration: none;
        color: white;
    }

    .socials a i{
        font-size: 1.1rem;
        transition: color 0.4s ease;
    }

    .socials a:hover{
        color: aqua;
    }

    .footer-bottom{
        background-color: black;
        width: 100% ;
        padding: 20px 0;
        text-align: center;
    }

    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    .footer-bottom span{
        text-transform: uppercase;
        opacity: 0.4;
        font-weight: 200;

    }

    .call{
        display:flex;
    }

    #about{
        text-align: center;
        margin: 25px;
        color: white;
    }

.about1{
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.about1info1{
    border:2px solid #0c0c0c;
    height: 160px;
    padding: 45px 65px 0 20px;
    width: 70%;
    text-align: justify;
    margin-top: 45px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white;
}

hr{
    color: #0c0c0c;
}
.about1info2{
    border:2px solid #0c0c0c;
    padding: 45px 65px 0 20px;
    width: 70%;
    height: 160px;
    text-align: justify;
    margin-top: 45px;
    margin-right: 20px;
    font-style: italic;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact{
    text-align: center;
    margin-top: 10px;
    font-size: larger;
}

